.wrapper {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 5vw;
}

h1 {
  padding: 0 0 0 3vw;
  color: white;
  font-weight: normal;
}

.slider_container {
  display: flex;
  flex-direction: row;
  margin: 2vw 0;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 20vw;
  height: 5px;
  background: linear-gradient(90deg, white, orange);
  border-radius: 5px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider_value {
  width: 3vw;
  height: 1vw;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1.1em;
  margin: 0 1vw;
  text-align: center;
}

.slider_value:focus {
  outline: none;
  border-color: #007bff;
}
