.bulb {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10vw auto;
}
.bulb_caps {
  width: 17vw;
  height: 17vw;
  border-radius: 40% 40% 50% 50% / 23% 23% 90% 90%;
  transition: all 0.5s ease;
  border: 1px solid rgba(158, 158, 158, 0.5);
}

.bulb_base {
  background-color: #838996;
  width: 6.8vw;
  height: 6vw;
  border-radius: 3% 3% 50% 50% / 60% 60% 60% 60%;
  margin: -1.33vh 0;
  -webkit-box-shadow: 4px -12px 48px 0px rgba(131, 137, 150, 0.9);
  -moz-box-shadow: 4px -12px 48px 0px rgba(131, 137, 150, 0.9);
  box-shadow: 4px -12px 48px 0px rgba(131, 137, 150, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 0 0 0;
}

.bulb_base span {
  margin: 1vh 0;
  height: 1.2vh;
  border-top: 1px solid rgba(108, 108, 108, 0.7);
  border-bottom: 1px solid rgba(108, 108, 108, 0.7);
}

.bulb_base span:nth-child(1),
.bulb_base span:nth-child(2) {
  width: 6.7vw;
}

.bulb_base span:nth-child(3) {
  width: 5.5vw;
  border-top: none;
}

button {
  width: 5vw;
  height: 5vw;
  font-size: 5em;
  margin: 3vw 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s ease;
}

button.on {
  color: orange;
  -webkit-box-shadow: 4px 4px 48px -19px rgba(255, 157, 0, 0.51);
  -moz-box-shadow: 4px 4px 48px -19px rgba(255, 157, 0, 0.51);
  box-shadow: 4px 4px 48px -19px rgba(255, 157, 0, 0.51);
}

button.off {
  color: grey;
}
